
<h1>Nick.Lee</h1>

<!DOCTYPE html>
<html>
<body>
<h2>Contact Me</h2>
<form action="mailto:nick@latenightjunkfood.com" method="post" enctype="text/plain">


E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
</body>

</body>
</html>

<%= image_tag 'beach.png', class: 'img-fluid', width: "auto" %>