@import "bootstrap";

body {
  background: image_url('black.png');
  text-align: center;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: teal;
  text-align: center;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: purple;
  text-align: center;
}


